h1 {
	color: #4C5F5C;
}
.build_matrix_button, .shape_matrix_button  {
	display: inline-block;
	background-color: #182929;
	color: white;
	height: 50px;
	width: 170px;
	border-radius: 10px;
	text-align: center;
	line-height: 49px;
	margin: 40px 0px 0px 0px;
	cursor: pointer;
}
.build_matrix_button:hover, .shape_matrix_button:hover{
    background-color: #C2CCCE;
    color: black;
}
.shape_matrix_button {
	visibility: hidden;
}
.pay_matrix {
	margin: 50px 0px 0px 50px;
	border-collapse: collapse;

}
.simple_matrix {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	border-collapse:separate;
 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.simple_matrix td {
	width: 60px;
	height: 10px;
	text-align: center;
	font-size: 25px;
}
.simple_matrix tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
 
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple_matrix tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple_matrix tr:last-child td{
	border-bottom:0;
}
.simple_matrix tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple_matrix tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple_matrix tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}